<!--Nav Bar-->
<nav class="navbar navbar-expand-md navbar-default">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a href="/index" class="navbar-brand mx-auto">Chat N' Dash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <i class="fas fa-sign-in-alt"></i>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/api/logout" class="btn btn-block btn-secondary text-white">Sign Out</a>
      </li>

    </ul>
  </div>
</nav>

<!--Container-->
<div class="container">
  <button id="favoriteButton">Add Favorite</button>

  <div>
    <button id="startButton">Start</button>
    <button id="hangupButton" disabled >Hang Up</button>
  </div>

  <video id="localVideo" autoplay playsinline></video>
  <video id="remoteVideo" autoplay playsinline></video>

  <div>
    <button id="startButton">Start</button>
    <button id="hangupButton" disabled >Hang Up</button>
  </div>


  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="/js/video.js"></script>

  <script>
    $(function () {
      var socket = io();
      $('form').submit(function () {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function (msg) {
        $('#messages').append($('<li>').text(msg));
        window.scrollTo(0, document.body.scrollHeight);
      });
    });
  </script>
</div>