<nav class="navbar navbar-expand-md navbar-default">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">Chat n' Dash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <i class="fas fa-sign-in-alt"></i>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/api/logout" class="btn btn-block btn-secondary text-white">Sign Out</a>
      </li>

    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid centered" id="jumbotron">
  <div class="container">
    <h1 class="display-4 logo">Chat n' Dash</h1>
    <p class="lead textContent">Welcome back.</p>
    <a href="/chat" class="centered"><button type="button" class="btn btn-warning textContent centered">CHAT NOW!</button></a>

  </div>

</div>

<div class="container">
  <div class="row">


    <!--left half of page-->
    <div class="col-md-6">

      <div class="row">
        <h3>Your Favorite Chats</h3>
      </div>

      <div class="row">
        <div class="card">
          <table class="table card-body">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Date of Chat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{dbFavorite.user_id2}}</th>
                <td>{{dbFavorite.user_id1}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

