<nav class="navbar navbar-expand-md navbar-default">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">Chat n' Dash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <i class="fas fa-sign-in-alt"></i>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/api/logout" class="btn btn-block btn-social btn-secondary text-white">Sign Out</a>
      </li>

    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid" id="jumbotron">
  <div class="container">
    <h1 class="display-4 logo">Chat n' Dash</h1>
    <p class="lead textContent">Welcome back.</p>
    <a href="/chat"><button type="button" class="btn btn-warning textContent">CHAT NOW!</button></a>

  </div>

</div>

<div class="container">
  <div class="row">


    <!--left half of page-->
    <div class="col-md-6">

      <div class="row">
        <h3>Your Favorite Chats</h3>
      </div>

      <div class="row">
        <div class="card">
          <table class="table card-body">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Rating</th>
                <th scope="col">Date of Chat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">bob1</th>
                <td>5 Stars</td>
                <td>2/15/2018</td>
              </tr>
              <tr>
                <th scope="row">troy2</th>
                <td>5 Stars</td>
                <td>5/3/2018</td>
              </tr>
              <tr>
                <th scope="row">jenna3</th>
                <td>4 Stars</td>
                <td>12/4/2017</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>





    <!--right half of page-->
    <div class="col-md-6">

      <div class="row">
        <h3>Your Recent Chats</h3>
      </div>

      <div class="row">
        <div class="card">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Rating</th>
                <th scope="col">Date of Chat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">robert</th>
                <td>1 Star</td>
                <td>8/28/2018</td>
              </tr>
              <tr>
                <th scope="row">andrew</th>
                <td>5 Stars</td>
                <td>8/28/2018</td>
              </tr>
              <tr>
                <th scope="row">bobby</th>
                <td>2 Stars</td>
                <td>12/4/2017</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>

  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

