<div id="home" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Quick Chat</h1>
    <p class="lead text-center">Chat with strangers quickly, before time runs out!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <!--login inputs-->
    <div class="col-md-4">
      <!--username-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="username">
      </div>

      <!--password-->
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="password">
      </div>
      <!--submit button-->
      <button type="button" class="btn btn-secondary btn-sm" id="submitLogin">Let's Chat!</button>

    </div>
    <div class="col-md-4"></div>
  </div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
