.navbar.navbar-default {
  background-color:#00c3af;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar-brand {
  color: #f7f6f9;
  font-family: 'Fugaz One', cursive;
}
.nav-link {
  color: #f2b252;
  background-color: #5d5687;
}
.navbar-toggler {
  background-color:#f7f6f9;
  
}
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
}
.carousel-caption {
  position: absolute;
  margin-left: 35%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
  z-index: 1;
  display: flex;
  flex-direction: column; 
}

.loginBtnScreen {
  width: 45%;
  margin: 5%;
}

.absolute-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 50%;
  align-self: flex-start;
  
}

.carousel-caption h3 {
  display:table-cell;
  vertical-align: middle;
  text-align:center;
}

.item {
  position:relative;
}

.footer {
  background-color:#f9f99d;
  color: #424239;
}

.logo {
  font-family: 'Fugaz One', cursive;
}

.textContent {
  font-family: 'Karla', sans-serif;
}

.centered {
  text-align: center;
}

.videoBox {
  border: solid #00c3af 10px;
  margin-top: 100px;
  width: 500px;
  background-color: black;
}

.bodyColor {
  background: linear-gradient(to right, #f9f99d, #00c3af);
}

.jumbotron {
  background: lightblue;
}

/* CSS for loading circle */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.hide {
  display: none;
}

